<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggled()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <a class="nav-brand ps-4" routerLink=""><img class="nft-logo" src="assets/images/logonft.png" alt=""></a>
  <h3 class="mx-2 nameadmin">Hello ABC,<br> Welcome Back</h3>
  <form class="d-flex form-head">
    <input class="form-control me-2 form-class" type="search" placeholder="Search NFT's">
  </form>



  <button class="btn btn-dark" type="submit">Create</button>



  <div class="profile-logo dropdown">
    <img class="user-img dropdown-toggle" data-bs-toggle="dropdown" src="/assets/img/profiles/India_Flag_Emoji.png"
      alt="">

    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a href="" class="dropdown-item">Sign Up</a></li>
      <li><a href="" class="dropdown-item">Log In</a></li>
      <li><a href="" class="dropdown-item">Your Profile</a></li>
      <li><a href="" class="dropdown-item">Logout</a></li>
    </ul>
  </div>

  <i class="fa-regular fa-bell"></i>
  <img src="assets/images/bell-regular.svg" class="image-icon">

  <div class="profile-logo dropstart">
    <img class="user-img dropdown-toggle" data-bs-toggle="dropdown" src="/assets/img/profiles/l-1.jpg" alt="">
    <!-- <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
      Himanshu
    </button> -->
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a href="" class="dropdown-item">Sign Up</a></li>
      <li><a href="" class="dropdown-item">Log In</a></li>
      <li><a href="" class="dropdown-item">Your Profile</a></li>
      <li><a href="" class="dropdown-item">Logout</a></li>
    </ul>
  </div>

</nav>